.jumbotron {
    background-color: #313332;
    color: white;
    height: 30px;
    text-align: center;
}

#history-list {
   border:black solid 1.5px;
   width: 180px;
 
}

.header {
    color: blue;
    font-weight: bold;

    }

.card.horizontal {
    text-align: center;
    width: 300px;
}

.current-conditions {
    border: black dotted 1px;
    text-align: center;
    margin-left: 200px;
    width: 70%;
    background-color: white;
}

#five-day {
    display: flex;
    padding-top: 10px;
}

body {
    background-color: lightskyblue;
}